@import "../node_modules/bootstrap/scss/bootstrap.scss";

$primary: $pink;

$theme-colors: map-merge($theme-colors, (
  "primary": $primary
));

@import "../node_modules/bootstrap/scss/bootstrap.scss";

html, body, #root {
  height: 100%;
}